@{
    Layout = null;
}
@model IEnumerable<Dev.Entity.DbEntities.DbStu>
<h1>Index</h1>

@foreach (var item in Model)
{
    <div>
        <span>@item.Id</span>---<span>@item.DbName</span>
    </div>
}
